<div class="container">
  <table class="table table-dark table-striped text-center">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">TITLE</th>
        <th scope="col">COMPLETED</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of array, index as i"> <!-- CICLO FOR PER VISUALIZZARE NEL TEMPLATE TUTTI GLI OGGETTI ALL'INTERNO DELL'ARRAY -->
        <th scope="row">{{array[i].id}}</th>
        <td>{{array[i].title}}</td>
        <td class="text-success">{{array[i].completed}}</td>
      </tr>
    </tbody>
  </table>
</div>
